<!-- Liste des actviéts -->
<div class="midde_cont">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="white_shd full margin_bottom_30">
                    <div class="row full graph_head">
                        <div class="col-3">
                            <div class="heading1 margin_0">
                                <h2>Listes des Activité</h2>
                            </div>
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" placeholder="Recherche...">
                        </div>
                        <div class="col-3 text-right">
                            <button (click)="jalonmodal()" class="btn btn-primary" title="Ajouter un programme">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="table_section padding_infor_info">
                        <div class="table-responsive-sm">
                            <table class="table table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Activité</th>
                                        <th>Date Debut</th>
                                        <th>Date Fin</th>
                                        <th>Budget</th>
                                        <th>Responsable</th>
                                        <th>Statut</th>
                                        <th>Ehéance</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of jalonFilter">
                                        <td>{{ item.libelle }}</td>
                                        <td>{{ item.date_debut }}</td>
                                        <td>{{ item.date_fin }}</td>
                                        <td>{{ item.budget }}</td>
                                        <td>
                                            <ng-container *ngFor="let user of item.users; let i = index">
                                                <span>{{ user.name }}</span>
                                                <!-- Ajoutez une virgule ou un saut de ligne sauf pour le dernier élément -->
                                                <br>
                                            </ng-container>
                                        </td>
                                        <td>{{ item.statut }}</td>
                                        <td>{{ item.echeance}}</td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button"  class="btn btn-secondary" title="Plus de détails">
                                                    <i class="fas fa-eye"></i>
                                                </button>
                                                <button type="button" class="btn btn-primary" title="Modifier">
                                                    <i class="fas fa-edit"></i>
                                                </button>
                                                <button type="button" class="btn btn-danger">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog"  id="jalonmodal">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nouvelle Activité</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span (click)="closejalonmodal()" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Formulaire d'ajout -->
                <form (ngSubmit)="insertJalon()" [formGroup]="jalonForm">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="libelle">Libellé de l'activité :</label>
                                <input type="text" class="form-control" id="libelle" name="libelle" formControlName="libelle">
                            </div>
                            <div class="form-group">
                                <label for="date_debut">Date de debut :</label>
                                <input type="date" class="form-control" id="date_debut" name="date_debut" formControlName="date_debut">
                            </div>
                            <div class="form-group">
                                <label for="date_fin">Date de fin :</label>
                                <input type="date" class="form-control" id="date_fin" name="date_fin" formControlName="date_fin">
                            </div>
                            <div class="form-group">
                                <label for="budget">Budget :</label>
                                <input type="number" min="100000" step="100000" class="form-control" id="budget" name="budget" formControlName="budget">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="site">Site de déploiement :</label>
                                <select name="site" id="site"  class="form-control" formControlName="site">
                                    <option [value]="site.id" *ngFor="let site of sites">{{site.libelle}}</option>
                                </select>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="phase">Phase :</label>
                                <select name="phase" id="phase"  class="form-control" formControlName="phase">
                                    <option [value]="phase.id" *ngFor="let phase of phases">{{phase.libelle}}</option>
                                </select>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-6">
                                    <div class="heading1 margin_0">
                                        <h5>Responsable</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name">Nom & prénom</label>
                                <select type="text" [value]="JResponsable" class="form-control" id="responsable" name="responsable" (change)="onUserSelectJalon($event)" formControlName="responsable">
                                    <option *ngFor="let user of users" [value]="user.name">{{user.name}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" [value]="JEmail" class="form-control" id="email" name="email" readOnly formControlName="email">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" [disabled]="jalonForm.invalid">enregistrer l'activité</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
