<div class="midde_cont">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="white_shd full margin_bottom_30">
                    <div class="row full graph_head">
                        <div class="heading1 margin_0">
                            <h2>Planing Gantt</h2>
                        </div>
                    </div>
                    
                    <ejs-gantt height="550px" [dataSource]="Data" [taskFields]="taskSettings"></ejs-gantt>
                    
                </div>
            </div>
        </div>
    </div>
</div>