<div class="row">
    <div class="col-md-12">
        <div class="white_shd full margin_bottom_30">
            <div class="row full graph_head">
                <div class="col-3">
                    <div class="heading1 margin_0">
                        <h2>Liste des budgets annuels</h2>
                    </div>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" placeholder="Recherche...">
                </div>
                <div class="col-3 text-right">
                    <button class="btn btn-primary" title="Ajouter un programme" (click)="openmodal()">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="table_section padding_infor_info">
                <div class="table-responsive-sm">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>période</th>
                                <th>Date de debut</th>
                                <th>Date de fin</th>
                                <th>Statut</th>
                                <th>Budget Planifier</th>
                                <th>Budget Executer</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of budgetannuels">
                                <td>{{ item.periode }}</td>
                                <td>{{ item.date_debut }}</td>
                                <td>{{ item.date_fin }}</td>
                                <td>{{ item.statut }}</td>
                                <td>{{ item.Budget_planifier }}</td>
                                <td>{{ item.Budget_executer }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a *ngIf="item.id" [routerLink]="['/details/budgetannuel/', item.id]" class="btn btn-secondary" title="Plus de détails">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                        <a [routerLink]="['/details/budgetannuel/', item.id]" class="btn btn-primary" title="Modifier">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <button class="btn btn-danger">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ngx-skeleton-loader count="{{ 10 }}" appearance="line" *ngIf="loader" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal d'ajout -->
<div class="modal" tabindex="-1" role="dialog" id="modal_add">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter un PTBA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" (click)="closemodal()">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Formulaire d'ajout -->
                <form (ngSubmit)="insertBudgetAnnuel()">
                    <div class="form-group">
                        <label for="date_debut">Daate de debut</label>
                        <input type="date" class="form-control" required id="date_debut" name="date_debut" [(ngModel)]="budgetannuel.date_debut">
                    </div>
                    <div class="form-group">
                        <label for="date_fin">Date de fin</label>
                        <input type="date" class="form-control" id="date_fin" name="date_fin" [(ngModel)]="budgetannuel.date_fin" required>
                    </div>
                    <hr>
                    <!-- Section Organisations -->
                    <div class="row">
                        <div class="col-6">
                            <div class="heading1 margin_0">
                                <h5>PTBA</h5>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="excel">Sélectionner le dossier du PTBA (excel)</label>
                        <input type="file" id="excel" name="excel" accept=".xlsx, .xls" class="form-control" (change)="onFileChange($event)" required>
                    </div>
                    <!-- Fin du formulaire -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Enregistrer le PTBA</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>