<ngx-spinner 
    bdColor = "rgba(0, 0, 0, 0.8)" 
    size = "default" color = "#fff" 
    type = "ball-spin-fade" 
    [fullScreen] = "true"
>
    <p style="color: white" > Chargement... </p>
</ngx-spinner>


<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Objectifs Stratégiques</h2>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-12 mx-auto">
                <div class="white_shd full margin_bottom_30">
                    <div class="row full graph_head">
                        <div class="col-6">
                            <div class="heading1 margin_0">
                                <h2>Ajouter des objectifs stratégiques</h2>
                            </div>
                        </div>
                        <div class="col-6 text-right">
                            <button class="btn btn-link" (click)="goBack()">liste des objectifs stratégiques</button>
                        </div>
                    </div>
                    <div class="row full d-flex justify-content-center align-items-center">
                        <div class="col-md-12 my-3">
                            <form (ngSubmit) = "insertObjectif()">
                                <div class="row mx-4">
                                    <div class="col-12">
                                        <!-- section du programme -->
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="heading1 margin_0">
                                                    <h5>Objectif Stratégique</h5>
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="form-group">
                                            <label for="programme-name">Secteur :</label>
                                            <select type="text" class="form-control" id="secteur" name="secteur" [(ngModel)] = "objectif.secteur" >
                                                <option value="Mistère de la santé">Mistère de la santé</option>
                                                <option value="Mistère de lintérieur">Mistère de lintérieur</option>
                                                <option value="Mistère de l'economi numérique">Mistère de l'economi numérique</option>
                                                <option value="Mistère des eaux forêt">Mistère des eaux forêt</option>
                                                <option value="Mistère de l'énergie">Mistère de l'énergie</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="programme-name">Objectif :</label>
                                            <input type="text" class="form-control" id="objectif" name="objectif" [(ngModel)] = "objectif.objectif" >
                                        </div>
                                        <div class="form-group">
                                            <label for="programme-start-date">Date de debut</label>
                                            <input type="date" class="form-control" id="date_debut" name="date_debut" [(ngModel)] = "objectif.date_debut" >
                                        </div>
                                        <div class="form-group">
                                            <label for="programme-start-date">Date de fin</label>
                                            <input type="date" class="form-control" id="date_fin" name="date_fin" [(ngModel)] = "objectif.date_fin" >
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-right">
                                    <button type="submit" class="btn btn-primary">Enregister</button>
                                </div>
                            </form>
                            <hr>
                            <!-- Ongets add organisation & Responsables -->
                            <div class="col-md-12 m-3">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="d-flex align-items-center">
                                            <p class="mb-0 mr-2">Organisations(s)</p>
                                            <button (click)="openOrgModal()" class="btn btn-primary ml-2" title="Ajouter un programme">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="d-flex align-items-center">
                                            <p class="mb-0 mr-2">Responsable(s)</p>
                                            <button (click)="openRespModal()" class="btn btn-primary ml-2" title="Ajouter un programme">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <!-- Liste des organisation & responsables -->
                            <div class="col-md-12 m-3">
                                <div class="row">
                                    <div class="col-6">
                                        <div *ngFor="let org of objectif.organisation; let i = index" >
                                            <span class="mr-2">{{ (i+1) }}</span>
                                            <span class="mr-2">{{ org }} - {{ objectif.ancrage[i] }}</span>
                                            <button type="button" class="btn btn-danger" (click)="removeOrganisationField(i)">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div *ngFor="let resp of objectif.responsable; let i = index">
                                            <span class="mr-2">{{ (i+1) }}</span>
                                            <span class="mr-2">{{ resp }} - {{ objectif.email[i] }}</span>
                                            <button type="button" class="btn btn-danger" (click)="removeUserField(i)">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog"  id="org_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Organisations</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" (click)="closeOrgModal()">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Formulaire d'ajout -->
                <form (submit)="addOrganisationField()">
                    <div id="block_organisation">
                        <div class="form-group">
                            <label for="organisation">Libellé de l'organisation</label>
                            <select class="form-control" [(ngModel)]="selectedOrganisation" (change)="onOrganisationChange($event)" name="organisations[]">
                                <option *ngFor="let org of organisations" [value]="org.libelle">{{ org.libelle }}</option>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label for="ancrage">Ancrage</label>
                            <select class="form-control" [(ngModel)]="selectedAncrage" name="ancrages[]" [disabled]="isAncrageDisabled">
                                <option value="Autre">Autre</option>
                                <option value="Stratégique">Stratégique</option>
                                <option value="Opérationnel">Opérationnel</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <button type="submit" class="btn btn-primary">Ajouter Organisation</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog"  id="resp_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Responsable</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" (click)="closeRespModal()">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Formulaire d'ajout -->
                <form (submit)="addUserField()">
                    <div id="block_responsables">
                        <!-- Champs de saisie -->
                        <div class="form-group">
                            <label for="responsable">Responsables</label>
                            <select id="responsable" type="text" class="form-control" name="responsables[]" (change)="onUserSelect($event)" required [(ngModel)]="selectedName">
                                <option *ngFor="let user of users" [value]="user.name">{{ user.name }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input type="email" id="email" class="form-control" name="emails[]" [(ngModel)]="selectedEmail" required readOnly >
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <button type="submit" class="btn btn-primary">Ajouter Organisation</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>