<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>PTBA -> Tableau PTBA -> Fiche activité PTBA</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- invoice section -->
            <div class="col-md-12">
                <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head">
                        <div class="heading1 margin_0">
                            <h2><strong>Fiche activité PTBA :</strong> {{ activite.libelle }}</h2>
                        </div>
                    </div>
                    <div class="full">
                        <div class="invoice_inner">
                            <div class="row px-5">
                                <div class="col-md-6">
                                    <div class="full invoice_blog padding_infor_info padding-bottom_0">
                                        <p><strong>Buedget :</strong><br>  
                                            {{ activite.budget_fcfa }} FCFA<br> 
                                            {{ activite.budget_us }} USD<br> 
                                        </p>
                                        <p><strong>Responsable(s) :</strong><br>
                                            <ng-container *ngFor="let r of responsables">
                                                {{ r.name }} ({{ r.pivot.poste }})<br> 
                                            </ng-container>  
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="full invoice_blog padding_infor_info padding-bottom_0">
                                        <p><strong>Comptabilité :</strong><br>  
                                            Montant décaissé : {{ activite.montant_decaisser || 0 }} FCFA<br> 
                                            Montant restant : {{ activite.montant_restant || 0}} FCFA<br> 
                                        </p>
                                        <p><strong>Période :</strong><br>
                                            {{ activite.date_debut }} ({{ activite.date_fin }})<br> 
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Les onglest -->
        <div class="row column4 graph">
            <!-- tab style 2 -->
            <div class="col-md-12">
                <div class="white_shd full margin_bottom_30">
                    <div class="full inner_elements">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="tab_style2">
                                    <div class="tabbar padding_infor_info">
                                        <nav>
                                            <div class="nav nav-tabs" id="nav-tab1" role="tablist">
                                                <a class="nav-item nav-link active" id="nav-home-tab2" data-toggle="tab" href="#responsables" role="tab" aria-controls="nav-home_s2" aria-selected="true">Responsables</a>
                                                <a class="nav-item nav-link" id="nav-profile-tab2" data-toggle="tab" href="#jalon" role="tab" aria-controls="nav-profile_s2" aria-selected="false">Liste des Activités/Jalon</a>
                                                <a class="nav-item nav-link" id="nav-profile-tab2" data-toggle="tab" href="#anolist" role="tab" aria-controls="nav-profile_s2" aria-selected="false">Liste des ANOs</a>
                                                <a class="nav-item nav-link" id="nav-profile-tab2" data-toggle="tab" href="#gantt" role="tab" aria-controls="nav-profile_s2" aria-selected="false">Planing Gantt</a>
                                                <a class="nav-item nav-link" id="nav-profile-tab2" data-toggle="tab" href="#tableau" role="tab" aria-controls="nav-profile_s2" aria-selected="false">Planing tableau</a>
                                            </div>
                                        </nav>
                                        <div class="tab-content" id="nav-tabContent_2">
                                            <div class="tab-pane fade show active" id="responsables" role="tabpanel" aria-labelledby="nav-home-tab">
                                                <app-responsables-activitebudegtannuel [activite_id]="activite.id"></app-responsables-activitebudegtannuel>
                                            </div>  
                                            <div class="tab-pane fade" id="jalon" role="tabpanel" aria-labelledby="nav-home-tab">
                                                <app-jalon-budgetannuel [activite_id]="activite.id"></app-jalon-budgetannuel>
                                            </div> 
                                            <div class="tab-pane fade" id="anolist" role="tabpanel" aria-labelledby="nav-home-tab">
                                                <app-ano-budgetannuel [activite_id]="activite.id"></app-ano-budgetannuel>
                                            </div>  
                                            <div class="tab-pane fade" id="gantt" role="tabpanel" aria-labelledby="nav-home-tab">
                                                <app-gantt-budgetannuel></app-gantt-budgetannuel>
                                            </div>  
                                            <div class="tab-pane fade" id="tableau" role="tabpanel" aria-labelledby="nav-home-tab">
                                                <app-planing-tableau-budgetannuel></app-planing-tableau-budgetannuel>
                                            </div>   
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
