<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
            <div class="page_title">
                <h2>Activité PTBA </h2>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <!-- invoice section -->
                    <div class="col-md-12">
                        <div class="white_shd full margin_bottom_30">
                            <div class="full graph_head">
                                <div class="heading1 margin_0">
                                    <div class="row">
                                        <div class="col-6">
                                            <button (click)="modal()" class="btn btn-link">Etablir un ANO</button>
                                        </div>
                                        <div class="col-6">
                                            <button class="btn btn-link">Etablir une Activité/Jalon</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="full">
                                <div class="invoice_inner">
                                    <div class="row my-3">
                                        <div class="col-md-4">
                                            <div class="full invoice_blog padding_infor_info padding-bottom_0">
                                                <h4>Objectif Strat.</h4>
                                                <p><strong>Planification</strong><br>  
                                                    <br> 
                                                    <br>    
                                                    <strong>Secteur : </strong><br>  
                                                    <strong>Objectif : </strong>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="full invoice_blog padding_infor_info padding-bottom_0">
                                                <h4>Resp. & Part. prenantes</h4>
                                                <p><strong>Responsables :</strong><br>
                                                    <ng-container>
                                                        <span></span>
                                                        <!-- Ajoutez une virgule ou un saut de ligne sauf pour le dernier élément -->
                                                        <br>
                                                    </ng-container>
                                                </p>
                                                <p><strong>Parties prenantes :</strong><br>
                                                    <ng-container >
                                                        <span></span>
                                                        <!-- Ajoutez une virgule ou un saut de ligne sauf pour le dernier élément -->
                                                        <br>
                                                    </ng-container>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="full invoice_blog padding_infor_info padding-bottom_0">
                                                <h4>Prograssion </h4>
                                                <p><strong>Echéance : </strong><br> 
                                                    <strong>Tx. ex. physique : </strong> %<br> 
                                                    <strong>Tx. ex. financier  : </strong> %
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog"  id="modal">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nouvelle ANO {{currentEvent.event}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span (click)="closemodal()" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Formulaire d'ajout -->
                <form (ngSubmit)="insertAno()">
                    <div class="row">
                        <div class="col-6">
                            <!--ano -->
                            <div class="form-group">
                                <label for="budget">Budget :</label>
                                <input type="number" [(ngModel)]="budget" class="form-control" id="budget" name="budget" required>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-6">
                                    <div class="heading1 margin_0">
                                        <div class="row">
                                            <div class="col-6">
                                                <h5>Documents</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="titre">Titre</label>
                                <input type="text" class="form-control" [(ngModel)]="titre" id="titre" name="titre" required>
                            </div>
                            <div class="form-group">
                                <label for="documents">Document</label>
                                <input #doc type="file" class="form-control" id="documents" name="documents" (change)="onFileChange($event)" accept=".pdf">
                            </div>
                            <ul>
                                <li *ngFor="let file of files; let i = index">
                                    <div class="row">
                                        <div class="col-9">{{ file.name }} - {{ titres[i] }} </div>
                                        <div class="col-3"><button class="btn btn-danger" (click)="removeFile(i)"><i class="fas fa-trash"></i></button></div>
                                    </div>
                                    
                                </li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <!-- event -->
                            <div class="row">
                                <div class="col-6">
                                    <div class="heading1 margin_0">
                                        <div class="row">
                                            <div class="col-6">
                                                <h5>Evènements </h5>
                                            </div>
                                            <div class="col-6 text-right">
                                                <button type="button" class="btn btn-primary" (click)="addEvent()"><i class="fas fa-plus"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="evenement">Libellé de l'évènement :</label>
                                <input type="text" class="form-control" [(ngModel)]="event" id="evenement" name="evenement" required>
                            </div>
                            <div class="form-group">
                                <label for="date_debut">Date de debut :</label>
                                <input type="date" [(ngModel)]="date_debut" class="form-control" id="date_debut" name="date_debut" required>
                            </div>
                            <div class="form-group">
                                <label for="date_fin">Date de fin :</label>
                                <input type="date" [(ngModel)]="date_fin" class="form-control" id="date_fin" name="date_fin" required>
                            </div>
                            <hr>
                            <!-- Responsable event -->
                            <div class="row">
                                <div class="col-6">
                                    <div class="heading1 margin_0">
                                        <h5>Responsables</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name">Nom & prénom</label>
                                <select type="text" [(ngModel)]="responsable" class="form-control" id="name" name="name[]" (change)="onUserSelect($event)" required>
                                    <option *ngFor="let user of users" [value]="user.name">{{user.name}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" [(ngModel)]="email" class="form-control" id="email" name="email" readOnly>
                            </div>
                        </div>
                    </div>
                    <!-- Fin du formulaire -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">enregistrer l'ano</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>