
<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Programme -> Planing <button (click)="goBack()" class="btn btn-link">retour</button></h2>
                </div>
            </div>
        </div>

        
        <div class="row column4 graph" *ngIf="Data.length > 0">
            <!-- tab style 2 -->
            <div class="col-md-12">
                <div class="white_shd full margin_bottom_30">
                    <div class="full inner_elements">
                        <div class="row">
                            <div class="col-md-12">
                                <ejs-gantt height="550px" [dataSource]="Data" [taskFields]="taskSettings"></ejs-gantt>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>