<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Programme -> Fiche Programme </h2>
                </div>
            </div>
        </div>
        <!-- informations sur le programme -->
        <div class="row">
            <!-- invoice section -->
            <div class="col-md-12">
            <div class="white_shd full margin_bottom_30">
                <div class="full graph_head">
                    <div class="heading1 margin_0">
                        <h2><strong>Fiche Programme :</strong> {{ programme.libelle }}</h2>
                    </div>
                </div>
                <div class="full">
                    <div class="invoice_inner">
                        <div class="row px-5">
                            <div class="col-md-6">
                                <div class="full invoice_blog padding_infor_info padding-bottom_0">
                                    <p><strong>Secteur :</strong><br>  
                                        {{ programme.objectif.secteur }}<br> 
                                    </p>
                                    <p><strong>Objectif Spécifique :</strong><br>  
                                        {{ programme.objectif_specifique }}<br> 
                                    </p>
                                    <p><strong>Ancrage</strong><br>
                                        <ng-container *ngFor="let r of responsables">
                                            {{ r.name }} ({{ r.pivot.poste }})<br> 
                                        </ng-container>
                                    </p>
                                    <p><strong>Budget :</strong><br>  
                                        {{ programme.Budget_planifier_fcfa }} FCFA <br>
                                        {{ programme.Budget_planifier_us }} FCFA <br>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="full invoice_blog padding_infor_info padding-bottom_0">
                                    <p><strong>Objectif Stratégique</strong><br>  
                                        {{ programme.objectif.secteur }}<br> 
                                    </p>
                                    <p><strong>Ancrage :</strong><br>
                                        <ng-container *ngFor="let o of organisations">
                                            {{ o.libelle }} ({{ o.pivot.ancrage }})<br> 
                                        </ng-container>
                                    </p>
                                    <p><strong>Période :</strong><br>  
                                        <strong>Du :</strong>{{ programme.date_fin }}<br> 
                                        <strong>Au :</strong>{{ programme.date_debut }}<br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <ngx-skeleton-loader 
            *ngIf="loader"
            count="1" 
            appearance="" 
            [theme]="{
                'background-color': '#e0e0e0',
                'height': '200px',
                'width': '100%',
                'border-radius': '10px',
                'margin': '50px auto'
            }" >
        </ngx-skeleton-loader>

        
        <div class="row column4 graph" *ngIf="!loader">
            <!-- tab style 2 -->
            <div class="col-md-12">
                <div class="white_shd full margin_bottom_30">
                    <div class="full inner_elements">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="tab_style2">
                                    <div class="tabbar padding_infor_info">
                                        <nav>
                                            <div class="nav nav-tabs" id="nav-tab1" role="tablist">
                                                <a class="nav-item nav-link active" id="nav-home-tab2" data-toggle="tab" href="#contributeurs" role="tab" aria-controls="nav-home_s2" aria-selected="true">Contributeurs</a>
                                                <a class="nav-item nav-link" id="nav-profile-tab2" data-toggle="tab" href="#budget" role="tab" aria-controls="nav-profile_s2" aria-selected="false">Budget Annuel</a>
                                                <a class="nav-item nav-link" id="nav-profile-tab2" data-toggle="tab" href="#planing" role="tab" aria-controls="nav-profile_s2" aria-selected="false">Planing</a>
                                                <a class="nav-item nav-link" id="nav-contact-tab2" data-toggle="tab" href="#site" role="tab" aria-controls="nav-contacts_s2" aria-selected="false">Sites</a>
                                                <a class="nav-item nav-link" id="nav-contact-tab2" data-toggle="tab" href="#plan" role="tab" aria-controls="nav-contacts_s2" aria-selected="false">Plan de transformation</a>
                                                <a class="nav-item nav-link" id="nav-contact-tab2" data-toggle="tab" href="#livrable" role="tab" aria-controls="nav-contacts_s2" aria-selected="false">Livrables</a>
                                                <a class="nav-item nav-link" id="nav-contact-tab2" data-toggle="tab" href="#contract" role="tab" aria-controls="nav-contacts_s2" aria-selected="false">Contracts</a>
                                                <a class="nav-item nav-link" id="nav-contact-tab2" data-toggle="tab" href="#anos" role="tab" aria-controls="nav-contacts_s2" aria-selected="false">Anos</a>
                                                <a class="nav-item nav-link" id="nav-contact-tab2" data-toggle="tab" href="#factures" role="tab" aria-controls="nav-contacts_s2" aria-selected="false">Factures</a>
                                            </div>
                                        </nav>
                                        <div class="tab-content" id="nav-tabContent_2">
                                            <div class="tab-pane fade show active" id="contributeurs" role="tabpanel" aria-labelledby="nav-home-tab">
                                                <app-users [programme_id]="programme.id"></app-users>
                                            </div>
                                            <div class="tab-pane fade" id="budget" role="tabpanel" aria-labelledby="nav-profile-tab">
                                                <app-budgetannuels [programme_id]="programme.id"></app-budgetannuels>
                                            </div>
                                            <div class="tab-pane fade" id="planing" role="tabpanel" aria-labelledby="nav-profile-tab">
                                                <app-gantt-planing [programme_id]="programme.id"></app-gantt-planing>
                                            </div>
                                            <div class="tab-pane fade" id="site" role="tabpanel" aria-labelledby="nav-contact-tab">
                                                <app-site [programme_id]="programme.id"></app-site>
                                            </div>
                                            <div class="tab-pane fade" id="plan" role="tabpanel" aria-labelledby="nav-contact-tab">
                                                <app-plan-transformation></app-plan-transformation>
                                            </div>                                              
                                            <div class="tab-pane fade" id="livrable" role="tabpanel" aria-labelledby="nav-contact-tab">
                                                <app-livrable [programme_id]="programme.id"></app-livrable>
                                            </div>
                                            <div class="tab-pane fade" id="contract" role="tabpanel" aria-labelledby="nav-contact-tab">
                                                <app-contract [programme_id]="programme.id"></app-contract>
                                            </div>
                                            <div class="tab-pane fade" id="anos" role="tabpanel" aria-labelledby="nav-contact-tab">
                                                <app-ano-programme [programme_id]="programme.id"></app-ano-programme>
                                            </div>
                                            <div class="tab-pane fade" id="factures" role="tabpanel" aria-labelledby="nav-contact-tab">
                                                <app-facture-programme [programme_id]="programme.id"></app-facture-programme>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ngx-skeleton-loader 
            *ngIf="loader"
            count="1" 
            appearance="" 
            [theme]="{
                'background-color': '#e0e0e0',
                'height': '200px',
                'width': '90%',
                'border-radius': '10px',
                'margin': '20px auto'
            }" >
        </ngx-skeleton-loader>
    </div>
</div>