
<!-- Affichage des données -->
<div class="row">
    <div class="col-md-12">
        <div class="white_shd full margin_bottom_30">
            <div class="row full graph_head">
                <div class="col-3">
                    <div class="heading1 margin_0">
                        <h2>Listes des ANOs</h2>
                    </div>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" placeholder="Recherche..." [(ngModel)]="searchText" (keyup)="filterAnos()">
                </div>
                <div class="col-3 text-right">
                    <button [routerLink]="['/add/ano/programme/', programme_id]" class="btn btn-primary" title="Ajouter un programme">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="table_section padding_infor_info">
                <div class="table-responsive-sm">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>Libelle ANO</th>
                                <th>Responsables</th>
                                <th>Budget</th>
                                <th>Budget Validé</th>
                                <th>Statut</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of filterAno; let n = index">
                                <td>{{ item.libelle }}</td>
                                <td>
                                    <ng-container *ngFor="let user of item.users; let i = index">
                                        <span>{{ user.name }}</span>
                                        <br>
                                    </ng-container>
                                </td>
                                <td>{{ item.budget }}</td>
                                <td>{{ item.budget_cntippee }}</td>
                                <td>{{ item.statut }}</td>
                                <td>
                                    <div class="btn-group">
                                        <button [routerLink]="['/edit/ano/', item.id]" class="btn btn-secondary" title="Plus de détails">
                                            <i class="fas fa-eye"></i>
                                        </button>
                                        <button [routerLink]="['/select/ano/', item.id]" class="btn btn-primary" title="Modifier">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button (click)="getDeletAno(item.id)" class="btn btn-danger" >
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ngx-skeleton-loader count="{{ 10 }}" appearance="line" *ngIf="loader" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog"  id="sup_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Supprimer un ANO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span (click)="closemodal()" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <i class="fas fa-exclamation-triangle text-warning mr-2"></i>
                <p>Êtes-vous sûr de vouloir supprimer cette ANO <strong>{{ deleteano_id }}</strong> ?</p>
                <p>La suppression de cette ANO entraine celle des évènements, factures et paiements accociés à <strong>{{ deleteano_id }}</strong> !</p>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="closemodal()" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-danger" (click)="deleteANO()">Supprimer</button>
            </div>
        </div>
    </div>
</div>